/*
    Style des éléments
*/

body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
h1 {
    font-family: "Roboto", bold;
    color: white;
    
}
h2 {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: bolder;
    color: white;
    margin: 20px;
}
h3 {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    color: white;
}
h4 {
    font-family: "Roboto", bold;
    font-size: 16px;
    font-weight: normal;
    color: #a7a7a7;
}
a {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

aside 
{
    position: fixed;
    height: 90%;
    width: 15%;
    top:0;
}

footer
{
    position:fixed;
    height:10%;
    bottom:0;
    width:100%;
    overflow:hidden;
    background-color:red;
}
.conteneurSectionsPrincipales {
    margin:auto;
    margin-top:6px;
    display: block;
    background-color: #121212;
    width: 95%;
    height: 39%;
    border-radius: 20px;
}
.conteneurSectionsSecondaires {
    margin: auto;
    margin-top:6px;
    display: block;
    background-color: #121212;
    width: 95%;
    height: 59%;
    border-radius: 20px;
}

.conteneurPrincipal {
    display: block;
    background-color: greenyellow;
    height:100%;
    width:85%;
    margin-left: 15%;
}

.conteneurConnection
{
    display: block;
    position:fixed;
    overflow: hidden;
    background-color: #121212;
    top:6px;
    width:85%;
    height:10%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}
.conteneurZoneTravail {
    display:block;
    width:100%;
    margin-top:6%;
    height: 100%;
    background-color: #121212;
}

.artistesMorceaux {
    display: inline-block;
    margin: 20px;
}

.block{
    display:block;
    margin: 20px;
}
.floatLeft{
    display: block;
    margin:20px;
}
.floatRight{
    float: right;
    margin:20px;
}

.margin20{
    margin:20px;
}